/************************** AddRoute Page **************************/
*, *::before {
  box-sizing: border-box;
}

/******************** header ********************/
.add-route header {
  /* 配置 */
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* 幅、高さ */
  width: inherit;
  height: 6vh;
  
  /* 余白 */
  margin: inherit;
  
  /* 背景 */
  background: var(--header-color);
  background: var(--webkit-header-color);

  /* カーソル */
  cursor: default;
}
.add-route header label:not(#input) {
  /* 余白 */
  margin: 0 1rem 0 0;
  padding: var(--label-padding);
  
  /* フォント */
  font-size: var(--label-font);
  color: white;
  
  /* 背景 */
  background-color: var(--label-color);

  /* 枠線 */
  border: solid 0.1rem white;
  border-radius: 100px;
  box-shadow: 0 0 20px black;

  /* カーソル */
  cursor: pointer;

  /* アニメーション */
  transition: background-color .3s;
}
.add-route header label:not(#input)::before {
  /* 挿入要素 */
  content: '';

  /* 配置 */
  display: inline-flex;

  /* 幅、高さ */
  width: var(--label-font);
  height: var(--label-font);

  /* 余白 */
  margin: var(--label-before-margin);
  padding: 0 auto;

  /* 背景 */
  background: var(--label-before-color);

  /* 枠線 */
  border: 0.1rem outset rgb(227, 225, 235);
  border-radius: 100px;

  /* アニメーション */
  transition: background-color .3s;
}
.add-route .button {
  /* 幅、高さ */
  width: auto;
  height: auto;

  /* 余白 */
  margin: 0 0 0 1rem;
  padding: 0 0.6rem;

  /* フォント */
  font-size: var(--label-font);
  line-height: normal;
}
.add-route header label:not(.check) {
  /* 幅、高さ */
  width: var(--label-font, auto);
  height: var(--label-font, auto);

  /* 余白 */
  margin: 0 0.2rem 0 0rem;

  /* フォント */
  font-size: var(--label-font, auto);
  line-height: normal;
  color: white;
}
.add-route header input[type="text"] {
  /* 配置 */
  text-align: left;

  /* 幅、高さ */
  width: var(--form-size, auto);
  height: var(--label-font, auto);

  /* 余白 */
  margin: 0 0;
  padding: 0.3rem 0 0 0;

  /* フォント */
  font-size: calc(var(--label-font, auto) - 0.3rem);
  font-family: serif;
  line-height: normal;
  color: black;
}

/*** カスタムプロパティ ***/
.add-route input[type="checkbox"]:empty + label:not(#input) {
  --label-color: rgb(9, 110, 72);
  --label-before-color: rgb(85, 85, 85);
}
.add-route input[type="checkbox"]:empty + label:not(#input):hover {
  --label-color: rgb(6, 70, 45);
  --label-before-color: rgb(46, 46, 46);
}
.add-route input[type="checkbox"]:checked + label:not(#input) {
  --label-color: rgb(168, 14, 14);
  --label-before-color: rgb(9, 175, 36);
}
.add-route input[type="checkbox"]:checked + label:not(#input):hover {
  --label-color: rgb(87, 8, 8);
  --label-before-color: rgb(4, 87, 18);
}