/***************************************************** AddRoute Page *****************************************************/
.add-route *, .add-route *::before {
  box-sizing: border-box;                   /* 枠線を内側に設定 */
}


/*======================== ヘッダー内要素 ========================*/
/* 巡回ルートボタン(ラベル) */
.add-route label:not(#input) {
  margin: 0 1rem 0 0;                       /* ラベル外の余白 */
  padding: var(--label-padding);            /* ラベル内の余白 */
  
  font-size: var(--label-font);             /* ラベル内の文字サイズ */
  color: white;                           /* ラベル内の文字色 */
  
  background-color: var(--label-color);     /* ラベルの背景色 */

  border: solid 0.1rem white;             /* ラベルの枠線 */
  border-radius: 100px;                     /* 枠線の丸み */
  box-shadow: 0 0 20px black;             /* ラベルの影 */

  cursor: pointer;                          /* ラベル上のマウスカーソル */

  transition: background-color .3s;         /* 0.3秒間かけて背景色を変化 */
}
/* 巡回ルートボタン内の丸 */
.add-route label:not(#input)::before {
  content: '';                              /* 中身を空にする */

  display: inline-flex;                     /* インライン&横並びにする */

  width: var(--label-font);                 /* 丸の幅 */
  height: var(--label-font);                /* 丸の高さ */

  margin: var(--label-before-margin);       /* 丸外の余白 */
  padding: 0 auto;                          /* 丸内の余白 */

  background: var(--label-before-color);    /* 丸の背景色 */

  border: 0.1rem outset rgb(227, 225, 235); /* 丸の枠線 */
  border-radius: 100px;                     /* 枠線の丸み */

  transition: background-color .3s;         /* 0.3秒間かけて背景色を変化 */
}
/* ボタン */
.add-route .button {
  width: auto;                              /* 文字数に応じて幅可変 */
  height: auto;                             /* 文字数に応じて高さ可変 */

  margin: 0 0 0 1rem;                       /* ボタン外の余白 */
  padding: 0 0.6rem;                        /* ボタン内の余白 */

  font-size: var(--label-font);             /* ボタン内の文字サイズ */
  line-height: normal;                      /* ボタン内の文字高さ */
}
/* ラベル(文字用) */
.add-route label:not(.check) {
  width: var(--label-font, auto);           /* ラベルの幅 */
  height: var(--label-font, auto);          /* ラベルの高さ */

  margin: 0 0.2rem 0 0rem;                  /* ラベル外の余白 */

  font-size: var(--label-font, auto);       /* ラベル内の文字サイズ */
  line-height: normal;                      /* ラベル内の文字高さ */
  color: white;                           /* ラベル内の文字色 */
}
/* テキストフィールド */
.add-route input[type="text"] {
  text-align: left;                         /* テキストフィールド内の文字位置 */

  width: var(--form-size, auto);            /* テキストフィールドの幅 */
  height: var(--label-font, auto);          /* テキストフィールドの高さ */

  margin: 0 0;                              /* テキストフィールド外の余白 */
  padding: 0.3rem 0 0 0;                    /* テキストフィールド内の余白 */

  background-color: white;                /* テキストフィールドの背景色 */

  font-size: calc(var(--label-font, auto) - 0.3rem);  /* テキストフィールド内の文字サイズ */
  font-family: serif;                       /* テキストフィールド内の文字の見た目 */
  line-height: normal;                      /* テキストフィールド内の文字高さ */
  color: black;                           /* テキストフィールド内の文字色 */
}