/***************************************************** AllCar Page *****************************************************/


/*======================== メイン内要素 ========================*/
/* pタグ */
.all-car p {
  position: relative;                       /* 相対位置 */

  margin: 1vh 0 0 0;                        /* pタグ外の余白 */
  padding: 0.2vh 0 1vh 0;                   /* pタグ内の余白 */

  font-size: 1vw;                           /* pタグ内の文字サイズ */
  line-height: normal;                      /* pタグ内の文字高さ */
}
/* ボタン */
.car-manage main .button {
  display: block;                           /* 縦並び */
  text-align: center;                       /* ボタン内の文字位置 */

  width: var(--btn-size, auto);             /* ボタンの幅 */
  height: auto;                             /* 高さ可変 */
  min-width: 20vw;                          /* ボタンの最低幅 */

  margin-top: 20vh;                         /* ボタン外の余白(上側) */

  font-size: var(--btn-font);               /* ボタン内の文字サイズ */
  line-height: normal;                      /* ボタン内の文字高さ */
}