/***************************************************** DestinationMap Page *****************************************************/
.dest-map *, .dest-map *::before {
  box-sizing: border-box;                   /* 枠線を内側に設定 */
}


/*======================== ヘッダー内要素 ========================*/
/* 巡回するボタン(ラベル) */
.dest-map header label {
  margin: 0 1vw 0 auto;                     /* ラベル外の余白 */
  padding: var(--label-padding);            /* ラベル内の余白 */
  
  font-size: var(--label-font);             /* ラベル内の文字サイズ */
  color: white;                           /* ラベル内の文字色 */
  
  background-color: var(--label-color);     /* ラベルの背景色 */

  border: solid 0.1rem white;             /* ラベルの枠線 */
  border-radius: 100px;                     /* 枠線の丸み */
  box-shadow: 0 0 20px black;             /* ラベルの影 */

  cursor: pointer;                          /* ラベル上のマウスカーソル */

  transition: background-color .3s;         /* 0.3秒間かけて背景色を変化 */
}
/* 巡回するボタン内の丸 */
.dest-map header label::before {
  content: '';                              /* 中身を空にする */

  display: inline-flex;                     /* インライン&横並びにする */

  width: var(--label-font);                 /* 丸の幅 */
  height: var(--label-font);                /* 丸の高さ */

  margin: var(--label-before-margin);       /* 丸外の余白 */
  padding: 0 auto;                          /* 丸内の余白 */

  background: var(--label-before-color);    /* 丸の背景色 */

  border: 0.1rem outset rgb(227, 225, 235); /* 丸の枠線 */
  border-radius: 100px;                     /* 枠線の丸み */

  transition: background-color .3s;         /* 0.3秒間かけて背景色を変化 */
}
.dest-map .button {
  width: auto;                              /* ボタンの幅 */                     
  height: auto;                             /* ボタンの高さ */
  
  font-size: var(--label-font);             /* ボタン内の文字サイズ */
  line-height: normal;                      /* ボタン内の文字高さ */
}