@media screen {
	select {
		height: 2.5vh;

		&:invalid {
			color: gray;
		}

		option {
			color: black;

			:first-child {
				color: gray;
			}
		}
	}

	.exist-button {
		margin: 0 1vw;
		font-size: 20px;
	}
}
@media screen and (max-width: 540px) {
    .exist-button {
        font-size: 10px;
    }
}
@media screen and (max-width: 375px) {
	select {
		height: 3vh;
		font-size: 10px;
	}
}
