/***************************************************** 共通設定 *****************************************************/

/*==================================== グローバル設定 ====================================*/
:root {
  font-family: serif;                     /* 文字の見た目 */

  user-select: none;                      /* ドラッグで文字選択を不可 */
  scrollbar-width: none;                  /* スクロールバー非表示 (Firefox) */
  -ms-overflow-style: none;               /* スクロールバー非表示 (Internet Explorer, Microsoft Edge) */

  /* カスタムプロパティ(背景色のグラデーション定義) */
  --page-color: radial-gradient(rgb(255, 255, 255), rgb(255, 241, 195));
  --webkit-page-color: -webkit-radial-gradient(rgb(255, 255, 255), rgb(255, 241, 195));

  --header-color: linear-gradient(65deg, skyblue 15%, blue, rgb(135, 153, 235) 80%, rgb(223, 225, 252));
  --webkit-header-color: -webkit-linear-gradient(-25deg, skyblue 15%, blue, rgb(135, 153, 235) 80%, rgb(223, 225, 252));

  --header-h1-color: linear-gradient(90deg, rgb(224, 252, 147), #f550ea 30%, #FFCC70);
  --webkit-header-h1-color: -webkit-linear-gradient(0deg, rgb(224, 252, 147) , #f550ea 30%, #FFCC70);

  --footer-color: radial-gradient(skyblue, blue);
  --webkit-footer-color: -webkit-radial-gradient(skyblue, blue);
}
*::-webkit-scrollbar{                     /* スクロールバー非表示 (Chrome, Safari) */
  display: none;
}


/*==================================== bodyタグ ====================================*/
body {
  margin: 0;                              /* bodyタグ外の余白 */
  padding: 0;                             /* bodyタグ内の余白 */
}


/*==================================== headerタグ ====================================*/
header {
  grid-area: header;                      /* グリッドレイアウト上の配置 */

  background: var(--header-color);        /* ヘッダーの背景色 */
  background: var(--webkit-header-color); /* ヘッダーの背景色 (ベンダープレフィックス) */

  cursor: default;                        /* ヘッダー上のマウスカーソル */
}
header h1 {
  text-align: center;                     /* h1タグ内の文字位置 */

  margin: inherit;                        /* h1タグ外の余白 */

  font-size: 4vh;                         /* h1タグ内の文字サイズ */
}
header h1 span {
  background: var(--header-h1-color);     /* spanタグ内の文字色 */
  background: var(--webkit-header-h1-color);
  background-clip: text;                  /* 文字を切り抜いて色を適用 */
  -webkit-text-fill-color: transparent;   /* 背景の透過 */
}


/*==================================== mainタグ ====================================*/
main {
  grid-area: main;                        /* グリッドレイアウト上の配置 */
}


/*==================================== footerタグ ====================================*/
footer {
  grid-area: footer;                      /* グリッドレイアウト上の配置 */

  background: var(--footer-color);        /* フッターの背景色 */
  background: var(--webkit-footer-color); /* フッターの背景色 (ベンダープレフィックス) */

  cursor: default;                        /* フッター上のマウスカーソル */
}
footer h1 {
  text-align: right;                      /* h1タグ内の文字位置 */
  
  margin: 0 auto;                         /* h1タグ外の余白 */
  padding: .5vh 0 0 0;                    /* h1タグ内の余白 */
 
  font-size: 2vh;                         /* h1タグ内の文字サイズ */
  line-height: normal;                    /* h1タグ内の文字高さ */
  color: white;                         /* h1タグ内の文字色 */
}


/*==================================== inputタグ ====================================*/
input[type="checkbox"] {
  display: none;                          /* チェックボックス非表示 */
}
.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none !important;    /* numberの横にある矢印を非表示 */
  margin: 0 !important;                   /* 要素外の余白 */
  -moz-appearance: textfield !important;  /* テキストフィールドを表示 */
}

/*==================================== 地図コンテナ ====================================*/
.leaflet-container {
  position: relative;                     /* 相対位置 */
  inset: 0;                               /* 地図の配置 */

  width: inherit;                         /* 地図の幅 */
  height: 90vh;                           /* 地図の高さ */
  
  cursor: var(--map-cursor);              /* 地図上のマウスカーソル */

  z-index: 999;                           /* 重なり優先度高め */
}
.leaflet-container:active {
  cursor: grabbing;                       /* 地図上でドラッグ中は掴みカーソル */
}


/*==================================== ロード中の表示 ====================================*/
.loader {
  position: absolute;                     /* 絶対位置 */
  inset: 0;                               /* 配置 */
  display: flex;                          /* flexで横並び */
  flex-direction: column;                 /* 縦並びに変更 */
  justify-content: center;                /* 横方向中央揃え */
  align-items: center;                    /* 縦方向中央揃え */

  background: rgba(255, 255, 255, 0.342);  /* 背景色 */

  z-index: 9999;                          /* 重なり優先度最高 */
}
.nowloading {
  margin-top: 4rem;                       /* 文字外の余白(上側) */

  color: black;                         /* 文字色 */
  font-size: 2rem;                        /* 文字サイズ */
  line-height: 1.5rem;                    /* 文字高さ */
}


/*==================================== ボタン ====================================*/
.button {
  margin: .5rem;                          /* ボタン外の余白 */
  padding: 0 1.25rem;                     /* ボタン内の余白 */

  background-color: rgb(8, 128, 108);   /* ボタンの背景色 */
  box-shadow: 0 0 20px rgb(88, 233, 173); /* ボタンの影 */
  
  color: rgba(255, 255, 255);           /* ボタン内の文字色 */
  font-family: serif;                     /* ボタン内の文字の見た目 */
  font-size: 1.125rem;                    /* ボタン内の文字サイズ */
  line-height: 2.5rem;                    /* ボタン内の文字高さ */

  border: outset .1rem rgb(227, 225, 235);  /* ボタンの枠線 */
  border-radius: 1rem;                    /* ボタンの枠線の丸み */

  transition-timing-function: cubic-bezier(.4, 0, .2, 1); /* 関数的に変化する */
  transition-duration: .6s;               /* 0.6秒間かけて実行 */
}
.button:hover {
  background-color: rgb(76, 201, 178);  /* ホバー時のボタンの背景色 */

  cursor: pointer;                        /* ボタン上のマウスカーソル */
}

/*==================================== コンテナ ====================================*/
.container {
  position: fixed;                        /* 画面を固定 */
  display: grid;                          /* グリッドレイアウトを使用 */

  margin: 0;                              /* コンテナ外の余白 */
  padding: 0;                             /* コンテナ内の余白 */

  grid-template-columns: 100vw;           /* コンテナの幅 */
  grid-template-rows: 6vh 90vh 4vh;       /* コンテナの高さ */
  grid-template-areas:                    /* グリッドレイアウト */
    "header"
    "main  "
    "footer";

  background: var(--page-color);          /* コンテナの背景色 */
  background: var(--webkit-page-color);   /* コンテナの背景色 (ベンダープレフィックス) */
  
  overflow: hidden;                       /* はみ出した要素は隠す */
}

/*==================================== 地図ページ ====================================*/
.map header {
  display: flex;                          /* flexで横並び */
  justify-content: center;                /* 横方向中央揃え */
  align-items: center;                    /* 縦方向中央揃え */
}
.map main {
  position: relative;                     /* 相対位置 */
  content: '';                            /* 要素を空にする */
}
.map input[type="checkbox"]:empty + label {
  --label-color: rgb(9, 110, 72);       /* 巡回ボタンの色 */
  --label-before-color: rgb(85, 85, 85);/* 巡回ボタン内の丸の色 */
}
.map input[type="checkbox"]:empty + label:hover {
  --label-color: rgb(6, 70, 45);        /* ホバー時の巡回ボタンの色 */
  --label-before-color: rgb(46, 46, 46);/* ホバー時の巡回ボタン内の丸の色 */
}
.map input[type="checkbox"]:checked + label {
  --label-color: rgb(168, 14, 14);      /* チェック後の巡回ボタン内の色 */
  --label-before-color: rgb(9, 175, 36);/* チェック後の巡回ボタン内の丸の色 */
}
.map input[type="checkbox"]:checked + label:hover {
  --label-color: rgb(87, 8, 8);         /* チェック後ホバー時の巡回ボタン内の色 */
  --label-before-color: rgb(4, 87, 18); /* チェック後ホバー時の巡回ボタン内の丸の色 */
}


/*==================================== ページ別 ====================================*/
.dest-map, .add-route {
  cursor: url("./cursor/marker-icon.png") 12 50, grab;    /* 地図上のマウスカーソルを画像にする (クリック判定のx,y座標をずらす) */
}
.exist-route, .path-check {
  --map-cursor: default;                  /* 地図上のマウスカーソルをデフォルトにする */
}
.car-watch {
  --map-cursor: pointer;                  /* 地図上のマウスカーソルをポインターにする */
}
.exist-route header .button, .car-watch header .button, .path-check header .button {
  width: auto;                            /* 文字数に応じて幅可変 */
  height: auto;                           /* 文字数に応じて高さ可変 */
  
  margin: 0 2vw;                          /* ボタン外の余白 */

  font-size: var(--btn-font, auto);       /* ボタン内の文字サイズ */
  line-height: normal;                    /* ボタン内の文字高さ */
}
.path-check header label {
  width: var(--form-size, auto);          /* ラベル内の幅 */
  height: var(--label-font, auto);        /* ラベル内の高さ */

  margin: 0 0 0 2rem;                     /* ラベル外の余白 */

  font-size: var(--label-font, auto);     /* ラベル内の文字サイズ */
  line-height: normal;                    /* ラベル内の文字高さ */
  color: white;                         /* ラベル内の文字色 */
}
.path-check header input[type="number"] {
  text-align: right;                      /* フォーム内の文字位置 */

  width: var(--form-size, auto);          /* フォーム内の幅 */
  height: var(--label-font, auto);        /* フォーム内の高さ */

  margin: 0 0 0 1rem;                     /* フォーム外の余白 */
  padding: .1rem .2rem 0 0;               /* フォーム内の余白 */

  font-size: calc(var(--label-font, auto) - .1rem);  /* フォーム内の文字サイズ */
  font-family: serif;                     /* フォーム内の文字の見た目 */
  line-height: normal;                    /* フォーム内の文字高さ */
}
.car-menu main, .car-manage main, .end main {
  display: flex;                          /* flexで横並び */
  flex-direction: column;                 /* 縦並びに変更 */
  align-items: center;                    /* 縦方向中央揃え */
}
.car-menu main .button, .end main .button {
  text-align: center;                     /* ボタン内の文字位置 */

  width: var(--btn-size, auto);           /* ボタン内の幅 */
  height: auto;                           /* ボタン内の高さ */
  min-width: 20vw;                        /* ボタン内の最低幅 */

  margin-top: 12vh;                       /* ボタン外の余白(上側) */

  font-size: var(--btn-font);             /* ボタン内の文字サイズ */
  line-height: normal;                    /* ボタン内の文字高さ */
}
.car-manage main .button {
  text-align: center;                     /* ボタン内の文字位置 */

  width: var(--btn-size, auto);           /* ボタン内の幅 */
  height: auto;                           /* ボタン内の高さ */
  min-width: 20vw;                        /* ボタン内の最低幅 */

  margin-top: 10vh;                       /* ボタン外の余白(上側) */

  font-size: var(--btn-font);             /* ボタン内の文字サイズ */
  line-height: normal;                    /* ボタン内の文字高さ */
}
.end main h1 {
  margin: var(--h1-margin);               /* ボタン外の余白 */
  
  font-size: var(--h1-font);              /* h1タグ内の文字サイズ */
  line-height: normal;                    /* h1タグ内の文字高さ */
}

/*==================================== ツールチップ ====================================*/
.tooltip {
  position: relative;                     /* 相対位置 */
}
.tooltip-text {
  position: absolute;                     /* 絶対位置 */
  display: inline-block;                  /* 配置の指定を可 */
  left: 50%;                              /* 配置位置(左) */
  bottom: -38px;                          /* 配置位置(下) */

  padding: 5px 20px;                      /* 要素内余白 */

  background: #333;                     /* 背景 */

  font-size: .8rem;                       /* ツールチップ内の文字サイズ */
  line-height: normal;                    /* ツールチップ内の文字高さ */
  color: #fff;                          /* ツールチップ内の文字色 */
  white-space: nowrap;                    /* ツールチップ内で改行しない */

  border-radius: 20px;                    /* 枠線の丸み */
  
  transition: .3s ease-in;                /* 0.3sかけて徐々に加速 */
  transform: translateX(-50%);            /* 親要素の真ん中に配置 */

  opacity: 0;                             /* デフォルトで非表示(透明) */
  visibility: hidden;                     /* デフォルトで非表示(不可視) */
}
.tooltip-text:before {
  content: '';                            /* 要素を空にする */

  position: absolute;                     /* 絶対位置 */
	top: -13px;                             /* 配置位置(上) */
	left: 50%;                              /* 配置位置(左) */

  margin-left: -7px;                      /* 要素外余白(左) */

  border: 7px solid transparent;          /* 枠線(透明) */
	border-bottom: 7px solid #333;        /* 枠線(下側) */
}
.tooltip:hover .tooltip-text {
  opacity: 1;                             /* ホバーで表示(不透明) */
  visibility: visible;                    /* ホバーで表示(可視化) */

  transition-delay: .7s;                  /* ホバーしてから0.5秒後に開始 */
}
.car-menu .tooltip-text {
  bottom: -43px;                          /* 配置位置(下) */

  font-size: 1rem;                        /* ツールチップ内の文字サイズ (車メニュー) */
}

/*==================================== お試しレスポンシブ ====================================*/
/* PC */
@media screen {
  .car-menu {
    --btn-font: 2rem;
    --btn-size: 30rem;
  }
  .dest-map {
    --label-padding: .55rem .8rem .4rem 2.1rem;
    --label-font: 1.5rem;
    --label-before-margin: .55rem .52rem 0 -1.5rem;
  }
  .exist-route {
    --btn-font: 1.6rem;
  }
  .add-route {
    --label-padding: .55rem .8rem .4rem 2.1rem;
    --label-font: 1.5rem;
    --label-before-margin: .55rem .52rem 0 -1.5rem;
    --form-size: 20rem;
  }
  .car-watch {
    --btn-font: 1.6rem;
  }
  .car-manage {
    --btn-font: 2rem;
    --btn-size: 40rem;
  }
  .path-check {
    --label-font: 1.6rem;
    --btn-font: 1.6rem;
    --form-size: 5rem;
  }
  .end {
    --h1-margin: 20rem 0 0 0;
    --h1-font: 2.5rem;
    --btn-font: 2.5rem;
    --btn-size: 20rem;
  }
}
/* タブレット(大) */
@media screen and (max-width:1024px) {
  .car-menu {
    --btn-font: 2rem;
    --btn-size: 30rem;
  }
  .dest-map {
    --label-padding: .55rem .8rem .4rem 2.1rem;
    --label-font: 1.6rem;
    --label-before-margin: .5rem .5rem 0 -1.5rem;
  }
  .exist-route {
    --btn-font: 1.6rem;
  }
  .add-route {
    --label-padding: .2rem .8rem .2rem 2.1rem;
    --label-font: 1.2rem;
    --label-before-margin: .55rem .52rem 0 -1.5rem;
    --form-size: 18rem;
  }
  .car-watch {
    --btn-font: 1.6rem;
  }
  .car-manage {
    --btn-font: 2rem;
    --btn-size: 30rem;
  }
  .path-check {
    --label-font: 1.6rem;
    --btn-font: 1.6rem;
    --form-size: 5rem;
  }
  .end {
    --h1-margin: 20rem 0 0 0;
    --h1-font: 2.5rem;
    --btn-font: 2.5rem;
    --btn-size: 20rem;
  }
}
/* タブレット(中) */
@media screen and (max-width:820px) {
  .car-menu {
    --btn-font: 1.5rem;
    --btn-size: 15rem;
  }
  .dest-map {
    --label-padding: .3rem .8rem .2rem 2.1rem;
    --label-font: 1.3rem;
    --label-before-margin: .4rem .4rem 0 -1.5rem;
  }
  .exist-route {
    --btn-font: 1.3rem;
  }
  .add-route {
    --label-padding: .2rem .8rem .2rem 2.1rem;
    --label-font: 1.3rem;
    --label-before-margin: .55rem .3rem 0 -1.5rem;
    --form-size: 16rem;
  }
  .car-watch {
    --btn-font: 1.3rem;
  }
  .car-manage {
    --btn-font: 2rem;
    --btn-size: 20rem;
  }
  .path-check {
    --label-font: 1rem;
    --btn-font: 1rem;
    --form-size: 5rem;
  }
  .end {
    --h1-margin: 23rem 0 0 0;
    --h1-font: 2.5rem;
    --btn-font: 2.5rem;
    --btn-size: 20rem;
  }
}
/* タブレット(小) */
@media screen and (max-width: 768px) {
  .car-menu {
    --btn-font: 1.2rem;
    --btn-size: 20rem;
  }
  .dest-map {
    --label-padding: .25rem .6rem .2rem 2rem;
    --label-font: 1rem;
    --label-before-margin: .3rem .3rem 0 -1.5rem;
  }
  .exist-route {
    --btn-font: 1rem;
  }
  .add-route {
    --label-padding: .2rem .8rem .2rem 2.1rem;
    --label-font: 1.2rem;
    --label-before-margin: .55rem .3rem 0 -1.6rem;
    --form-size: 15rem;
  }
  .car-watch {
    --btn-font: 1rem;
  }
  .car-manage {
    --btn-font: 1.8rem;
    --btn-size: 20rem;
  }
  .path-check {
    --label-font: 1rem;
    --btn-font: 1rem;
    --form-size: 5rem;
  }
  .end {
    --h1-margin: 18rem 0 0 0;
    --h1-font: 2rem;
    --btn-font: 2rem;
    --btn-size: 15rem;
  }
}
/* タブレット(横長 大) */
@media screen and (min-width: 768px) and (max-height: 800px) {
  .car-menu {
    --btn-font: 1.2rem;
    --btn-size: 20rem;
  }
  .dest-map {
    --label-padding: .25rem .6rem .2rem 2rem;
    --label-font: 1rem;
    --label-before-margin: .3rem .3rem 0 -1.5rem;
  }
  .exist-route {
    --btn-font: 1rem;
  }
  .add-route {
    --label-padding: .2rem .8rem .2rem 2.1rem;
    --label-font: 1.2rem;
    --label-before-margin: .55rem .3rem 0 -1.6rem;
    --form-size: 20rem;
  }
  .car-watch {
    --btn-font: 1rem;
  }
  .car-manage {
    --btn-font: 1.5rem;
    --btn-size: 20rem;
  }
  .path-check {
    --label-font: 1rem;
    --btn-font: 1rem;
    --form-size: 5rem;
  }
  .end {
    --h1-margin: 13rem 0 0 0;
    --h1-font: 2rem;
    --btn-font: 2rem;
    --btn-size: 15rem;
  }
}
/* タブレット(横長 小) */
@media screen and (min-width: 768px) and (max-height: 600px) {
  .car-menu {
    --btn-font: 1.2rem;
    --btn-size: 20rem;
  }
  .dest-map {
    --label-padding: .25rem .6rem .2rem 2rem;
    --label-font: 1rem;
    --label-before-margin: .3rem .3rem 0 -1.5rem;
  }
  .exist-route {
    --btn-font: 1rem;
  }
  .add-route {
    --label-padding: .2rem .8rem .2rem 2.1rem;
    --label-font: .9rem;
    --label-before-margin: .55rem .3rem 0 -1.6rem;
    --form-size: 20rem;
  }
  .car-watch {
    --btn-font: 1rem;
  }
  .car-manage {
    --btn-font: 1.2rem;
    --btn-size: 20rem;
  }
  .path-check {
    --label-font: 1rem;
    --btn-font: 1rem;
    --form-size: 5rem;
  }
  .end {
    --h1-margin: 9rem 0 0 0;
    --h1-font: 2rem;
    --btn-font: 2rem;
    --btn-size: 15rem;
  }
}
/* スマホ(大) */
@media screen and (max-width: 540px) {
  .car-menu {
    --btn-font: 1.5rem;
    --btn-size: 15rem;
  }
  .dest-map {
    --label-padding: .3rem .6rem .2rem 1.8rem;
    --label-font: 1.2rem;
    --label-before-margin: .4rem .4rem 0 -1.3rem;
  }
  .exist-route {
    --btn-font: 1rem;
  }
  .add-route {
    --label-padding: .1rem .2rem .1rem 2rem;
    --label-font: .8rem;
    --label-before-margin: .5rem .2rem 0 -1.9rem;
    --form-size: 5rem;
  }
  .car-watch {
    --btn-font: 1.2rem;
  }
  .car-manage {
    --btn-font: 1.5rem;
    --btn-size: 15rem;
  }
  .path-check {
    --label-font: 1rem;
    --btn-font: 1rem;
    --form-size: 3rem;
  }
  .end {
    --h1-margin: 16rem 0 0 0;
    --h1-font: 1.3rem;
    --btn-font: 1.5rem;
    --btn-size: 10rem;
  }
}
/* スマホ(中) */
@media screen and (max-width: 420px) {
  .car-menu {
    --btn-font: 1.5rem;
    --btn-size: 15rem;
  }
  .dest-map {
    --label-padding: .35rem .6rem .25rem 1.8rem;
    --label-font: 1.1rem;
    --label-before-margin: .4rem .3rem 0 -1.3rem;
  }
  .exist-route {
    --btn-font: 1rem;
  }
  .add-route {
    --label-padding: .1rem .2rem .1rem 2rem;
    --label-font: .8rem;
    --label-before-margin: .5rem .2rem 0 -1.9rem;
    --form-size: 4rem;
  }
  .car-watch {
    --btn-font: 1.2rem;
  }
  .car-manage {
    --btn-font: 1.5rem;
    --btn-size: 18rem;
  }
  .path-check {
    --label-font: 1rem;
    --btn-font: 1rem;
    --form-size: 3rem;
  }
  .end {
    --h1-margin: 16rem 0 0 0;
    --h1-font: 1.3rem;
    --btn-font: 1.5rem;
    --btn-size: 10rem;
  }
}
/* スマホ(小) */
@media screen and (max-width: 400px) {
  .car-menu {
    --btn-font: 1.2rem;
    --btn-size: 12rem;
  }
  .dest-map {
    --label-padding: .2rem .5rem .2rem 1.8rem;
    --label-font: 1rem;
    --label-before-margin: .3rem .3rem 0 -1.5rem;
  }
  .exist-route {
    --btn-font: .8rem;
  }
  .add-route {
    --label-padding: .1rem .2rem .1rem 2.1rem;
    --label-font: .8rem;
    --label-before-margin: .5rem .2rem 0 -2rem;
    --form-size: 4rem;
  }
  .car-watch {
    --btn-font: 1rem;
  }
  .car-manage {
    --btn-font: 1.2rem;
    --btn-size: 15rem;
  }
  .path-check {
    --label-font: 1rem;
    --btn-font: 1rem;
    --form-size: 3rem;
  }
  .end {
    --h1-margin: 14rem 0 0 0;
    --h1-font: 1.2rem;
    --btn-font: 1.2rem;
    --btn-size: 8rem;
  }
}
/* スマホ(極小) */
@media screen and (max-width: 320px) {
  .car-menu {
    --btn-font: 1rem;
    --btn-size: 10rem;
  }
  .dest-map {
    --label-padding: .2rem .4rem .25rem 1.8rem;
    --label-font: .75rem;
    --label-before-margin: .1rem .3rem 0 -1.5rem;
  }
  .exist-route {
    --btn-font: .6rem;
  }
  .add-route {
    --label-padding: .1rem .1rem .1rem 2.3rem;
    --label-font: .7rem;
    --label-before-margin: .2rem .1rem 0 -2.1rem;
    --form-size: 1.2rem;
  }
  .car-watch {
    --btn-font: .75rem;
  }
  .car-manage {
    --btn-font: 1.2rem;
    --btn-size: 15rem;
  }
  .path-check {
    --label-font: .9rem;
    --btn-font: .8rem;
    --form-size: 3rem;
  }
  .end {
    --h1-margin: 12rem 0 0 0;
    --h1-font: 1rem;
    --btn-font: 1rem;
    --btn-size: 7rem;
  }
}