@media screen {
	.manage-page {
		@include flex-center();

		.manage-button {
			margin: 40vh 2vh;
			min-width: 10vw;
			min-height: 5vh;
			font-size: 2rem;
		}
	}
}
@media screen and (max-width: 541px) {
	.manage-page {
        margin-top: 15vh;
		flex-direction: column;

		.manage-button {
			margin: 10vh 0 0 0;
            min-width: 50vw;
			font-size: 1rem;
		}
	}
}
